{% extends 'base.html' %}

{% block content %}

<div class="card bg-dark text-white">
    <img src="https://images.unsplash.com/photo-1516594798947-e65505dbb29d" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="container">
            <div class="container text-center">
                <h1 class="card-title">About Us</h1>
                <h5 class="card-title">Home * About Us</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h1 class="display-5">Welcome To Freshmart</h1>
        <p class="lead">Shop grocery stores you love and find your favorites at great prices. Freshest groceries
            delivered
            to your doorstep. Start Shopping! Save Time & Money. Shop Trusted Retailers. Delivery to Your Doorstep.
            Choose
            Your Delivery Time. Types: Produce, Dairy, Snacks, Frozen, Meat, Pantry.</p>
    </div>
</div>



<div class="card-deck">
    <div class="card">
        <img src="https://images.unsplash.com/photo-1500732917506-30dc38b6477f" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ALWAYS FRESH</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <img src="https://images.unsplash.com/photo-1498668629810-d79dcafa7617" class="card-img-top" alt="...">
            <h5 class="card-title">SUPER HEALTHY</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">OUR STORY</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <img src="https://i.postimg.cc/vTbrKyqc/lemon.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
        <img src="https://images.unsplash.com/photo-1448062885262-aa6670248b0e" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">100% NATURAL</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <img src="https://images.unsplash.com/photo-1450024529642-858b23834369" class="card-img-top" alt="...">
            <h5 class="card-title">PREMIUM QUALITY</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>


</div>

<div class="jumbotron">
    <h1 class="display-4">IQRA Grocery Store</h1>
    <hr class="my-4">
    <p>Address: 123 Suspendis matti, Visaosang Building VST</p>
    <p>District, NY Accums, North American</p>
    <p>Hotline: 0123-456-78910</p>
    <p>0987-654-32100</p>
    <p>Email: suppoprt@domain.com</p>
    <p>bibstore@domain.com</p>
    <hr>
</div>




{% endblock content %}


