/* Leyla's CSS Code for Products Page */

.card-img-top {
    height: 180px !important;
    width: 286px !important;
}

/* .card {
    height: 150px !important;
    width: 150px !important;
    background-color: red !important;
} */

